@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic');

.navbar-default {
  background: #232323 url('../img/preview-mask-1i-b.svg') no-repeat top left;
}

footer .footer-above {
  background: #232323 url('../img/preview-mask-1i-rb.svg') no-repeat bottom right;
}

hr.star-primary {
  border-color: #232323;
}
hr.star-primary:after {
  color: #232323;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  font-family: Arvo, Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  color: #232323;
}

section#about h2,
section.banner h2 {
  color: white;
}

header {
  /*background: white url('../img/twitter-bg.jpg') no-repeat bottom right;*/
  background: #9e0b0f url('../img/portfolio/ifm2009.jpg') no-repeat bottom right;
  background-blend-mode: soft-light;
  background-size: cover;
}

header img {
  border: 1em solid white;
  box-shadow: 2px 2px 0px rgba(0,0,0,.4);
}

header h2{}

header h1,
header h2,
header h3 {
  text-shadow: 2px 2px 0px rgba(0,0,0,.4) ;
}

h3, .h3 {
  font-size: 22px
}

.navbar-default .navbar-nav>li>a {
  font-family: Arvo;
}

footer .footer-below {
  background-color: black;
}


.floating-label-form-group input,
.floating-label-form-group textarea {
  background-color: #f8f8f8;
  border: 1px solid #dce4ec;
}

section.banner {
  /*background: #232323 url('../img/preview-mask-1i.svg') no-repeat top left;*/
  background: #232323 url('../img/portfolio/ifm2009.jpg') no-repeat bottom right;
  background-size: cover;
  background-blend-mode: soft-light;
  color: white;
}

section.banner .btn-default,
section.banner .btn-lg,
section.banner .btn-success,
section.banner .btn-primary {
  background-color: #9e0b0f;
}

section.banner hr {
  border-color: #232323;
  border-width: 2px
}

section.banner {
  /*background: #232323 url('../img/preview-mask-1i.svg') no-repeat top left;*/
  background: #232323 url('../img/portfolio/ifm2009.jpg') no-repeat bottom right;
  background-size: cover;
  background-blend-mode: soft-light;
  color: white;
}

section.banner code {
  background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

section.banner .panel {
  background: transparent;
  border-radius: 0;
}

section.banner .panel-default>.panel-heading,
section.banner .panel-footer {
  background-color: 0;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}


.navbar-fixed-top {
  /*border-bottom: 0.5em solid #9e0b0f;*/
}

.navbar-default .navbar-brand {
  background: url('../img/ctdp-logo.png') no-repeat top left;
  background-size: 100% auto;
  height: 40px;
  width: 170px;
  margin-top:10px;
  margin-left:10px;
  color: transparent !important;
}

@media (min-width: 768px) {
  .navbar-fixed-top.navbar-shrink {
    padding: 0;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    height: 50px;
    width: 200px;
  }
  .navbar-default .navbar-brand {
    height: 70px;
    width: 280px;
    margin-top:5px;
  }
}

img.img-mask-top {
  /*-webkit-mask: url('mask.svg') top left / cover;*/
  -webkit-mask: url('../img/preview-mask-1.svg') top left / cover;
}
img.img-mask-bottom {
  -webkit-mask: url('../img/preview-mask-2.svg') center right / cover;
}

hr {
  border-top: 5px solid white;
}

a, a:hover, a:focus, a:active, a.active {
  color: #9e0b0f;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #9e0b0f;
}


.navbar-default .navbar-nav>li>a {
  /*color: #9e0b0f;*/
  text-transform: capitalize;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #9e0b0f;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

#latest-project,
#contact,
.modal-content {
  background: white url('../img/preview-mask-1i.svg') no-repeat top left;
}

section.success {
  background: #9e0b0f url('../img/preview-mask-1i-rb.svg') no-repeat bottom right;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(158,1,15,0);
  /*background-blend-mode: color;*/
  opacity: 1.0;
}


#portfolio .portfolio-item .portfolio-link .caption:hover {
  background: rgba(158,1,15,.5);
}


#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  top: 25%;
  width: 100%;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  opacity: 1.0;
  background: rgb(158,1,15);
}

.btn-default,
.btn-lg,
.btn-success,
.btn-primary {
  color: white;
  background-color: #232323;
  border: 0;
  box-shadow: 2px 2px 0px rgba(0,0,0,.4);
}


.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3e3e3e;
  border-color: 0;
}

.btn-default:active,
.btn-lg:active,
.btn-success:active {
  background-color: #383838;
}


.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #9e0b0f;
}

.floating-label-form-group-with-focus label {
    color: #9e0b0f;
}

hr.star-light:after {
    color: #fff;
    background-color: #9e0b0f;
}

