@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic');

.navbar-default {
  background-color: #232323;
}

footer .footer-above {
  background-color: #232323;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arvo, Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default .navbar-nav>li>a {
  font-family: Arvo;
}

footer .footer-below {
  background-color: black;
}

section.banner {
  background-color: #232323;
  color: white;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-top.navbar-shrink {
    padding: 0;
    border-bottom: 1em solid #9e0b0f;
  }
}

/*header h1 {
  transform: perspective(500px) skew(-10deg,0deg) rotateY(30deg);
}*/

img.img-mask-top {
  /*-webkit-mask: url('mask.svg') top left / cover;*/
  -webkit-mask: url('../img/preview-mask-1.svg') top left / cover;
}
img.img-mask-bottom {
  -webkit-mask: url('../img/preview-mask-2.svg') center right / cover;
}

.navbar-default .navbar-brand {
  background: url('../img/ctdp_logo.png') no-repeat top left;
  height: 80px;
  width: 300px;
}

a, a:hover, a:focus, a:active, a.active {
  color: #9e0b0f;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #9e0b0f;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #9e0b0f;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #9e0b0f;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(158,1,15,0);
  opacity: 1.0;
}


#portfolio .portfolio-item .portfolio-link .caption:hover {
  background: rgba(158,1,15,.7);
}


#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  top: 25%;
  width: 100%;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  opacity: 1.0;
  background: rgb(158,1,15);
}

section.success {
  background-color: #9e0b0f;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #9e0b0f;
}

.floating-label-form-group-with-focus label {
    color: #9e0b0f;
}

hr.star-light:after {
    color: #fff;
    background-color: #9e0b0f;
}

header {
    background: #9e0b0f;
}

.btn-success {
color: #ffffff;
background-color: #9e0b0f;
border-color: #9e0b0f;
}
