// Masthead
header.masthead.bg-primary.text-white.text-center
    .container
        .row
            .col-md
                img.img-fluid.img-mask(src='/assets/img/portfolio/ifm_2.jpg')
            .col-md
                .intro-message
                h1 International Formula Masters 2009 + Hill Climb
                h3 A free game addon for Assetto&nbsp;Corsa
                hr.intro-divider
                p The premier mod by CTDP for Assetto Corsa brings you the 2009 season and Hill Climb Event with all competing cars and drivers.
                ul.list-inline.intro-social-buttons
                    li.page-scroll
                    a.btn.btn-dark.btn-lg(href='#download')
                        i.fa.fa-download.fa-fw
                        span.network-name Get for Assetto Corsa

#latest-project.content-section-a
  .container
    .row
      .col-sm
        h2.section-heading A strive for realism
        p.lead
          | The International Formula Master (IFM) was a supporting series during the European WTCC races from 2007 till 2009. The series was subsequently retired. Several small independent teams have utilized, with success, the former IFM Tatuus cars for various Hill Climb Events and have entries in FIA&apos;s European Hill Climb Series.
      .col-sm
        img.img-fluid(src='/assets/img/portfolio/ifm_1.jpg' alt='')

.content-section-b
  .container
    .row
      .col-sm
        img.img-fluid.img-mask(src='/assets/img/portfolio/ifm_3.jpg' alt='')
      .col-sm
        h2.section-heading
          | Such physics,  very wow!
        p.lead
          | We got our hands on the original user manual of the Honda K20A engine and Tatuus chassis and had access to more real data as ever before. This helped in creating highly realistic physics for IFM 2009 so you can feel like a real race driver.

.content-section-a
  .container
    .row
      .col-sm
        h2.section-heading And bonus features!
        p.lead
          | The addon includes all cars of all teams and drivers, a setup guide, and detailed templates to create your own car livery.
      .col-sm
        img.img-fluid.img-mask-bottom(src='/assets/img/portfolio/ifm_4.jpg' alt='')

section#download.banner
  .container
    .row
      .col-md-4.text-center
        h2.mb-2
          small Get for
          br
          |  Assetto Corsa:
      .col-md-8
        .panel
          div
            ul.list-inline.text-center.banner-social-buttons
              li
                a.btn.btn-primary.btn-lg(href='https://download.ctdp.net/ac/CTDP_IFM_2009+HC_1.3.7z')
                  i.fa.fa-download.fa-fw
                  span.network-name Download
            ul.list-inline.text-center
              li.list-inline-item Mirrors:
              li.list-inline-item
                a(href='https://www.moddb.com/downloads/international-formula-masters-2009-hill-climb-13') ModDb
              li.list-inline-item
                a(href='https://www.mediafire.com/download/vhxactc1qlf84t9/CTDP_IFM_2009+HC_1.3.7z') Mediafire
            hr
          div
            p.small.text-center
              | Download and extract the addon into 
              br
              code SteamApps\common\assettocorsa\content\cars
            hr
            .row
              .col-sm-2 Game:
              .col-sm-4
                strong
                  a(href='https://www.assettocorsa.net/') Assetto Corsa
              .col-sm-2 Release:
              .col-sm-4
                strong 1.3 - 10 May 2015
              .col-sm-2 Size:
              .col-sm-4
                strong 223 MB
              .col-sm-2 Package:
              .col-sm-4
                strong
                  a(href='https://www.7-zip.org/') 7zip
              .col-sm-2 More:
              .col-sm-4
                strong
                  a(href='https://readme.ctdp.net/ifm2009/') Documentation
