#portfolioModal1.portfolio-modal.modal.modal-window(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-content
    .close-modal
      a(href="#portfolio")
        .lr
          .rl
    .modal-body.text-center.pt-5.pb-5
      .container
        .row.justify-content-center
          .col-md-8
            h2 F1 2006
            hr.star-primary
            iframe(title="CTDP F1 2006 Teaser" width="560" height="315" src="https://peertube.wtf/videos/embed/0dab1898-56ad-4596-ac67-9a875001d61c" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms")
            p F1 season 2006 meets rFactor. Good things need time. Put on your racing gloves, lucky sneakers and get out there racing. But it&apos;s not only about the driving skills you will need to succeed. Now, you will also need strategic and technical skills to win the race. Use clever updates to you car to improve your performance and finetune your setups. Be prepared for your race.
            p Use your chances, fight for the championship, it may be your last chance!
            ul.list-inline.intro-social-buttons
              li
                a.btn.btn-primary.btn-lg(href='https://ctdp.248f1.net/rfactor/Formula_One_2006_by_CTDP_v1.2.1.zip')
                  i.fa.fa-download.fa-fw
                  span.network-name Download
            ul.list-inline.item-details
              li
                | Game:
                strong
                  a(href='https://www.rfactor.net/') rFactor
              li
                | Latest Release:
                strong 1.2.1 - June 2010
              li
                | More:
                strong
                  a(href='https://download.ctdp.net/tools/CTDP-F1-2006-Templates-V1.0.7z') Templates
            a.btn.btn-dark(href="#portfolio")
              i.fa.fa-times
              |  Close
