#portfolioModal6.portfolio-modal.modal.modal-window(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-content
    .close-modal
      a(href="#portfolio")
        .lr
          .rl
    .modal-body.text-center.pt-5.pb-5
      .container
        .row.justify-content-center
          .col-md-8
            h2 Bahrain International Circuit 2006
            hr.star-primary
            img.img-responsive.img-centered(src='img/portfolio/bahrain.jpg' alt='')
            p
              | This track is the perfect addition to the F1-2005 and F1-2006 addons for rFactor.
            ul.list-inline.intro-social-buttons
              li
                a.btn.btn-primary.btn-lg(href='https://download.ctdp.net/rf/Bahrain_International_Circuit_by_CTDP_v2.0BETA.zip')
                  i.fa.fa-download.fa-fw
                  span.network-name Download
            ul.list-inline.item-details
              li
                | Game:
                strong
                  a(href='https://www.rfactor.net/') rFactor
              li
                | Latest Release:
                strong 2.0 - May 2009
              li
                | Size:
                strong 41 MB
            a.btn.btn-dark(href="#portfolio")
              i.fa.fa-times
              |  Close
